.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.warning {
  background: #ff7d73;
}
.content {
  text-align: center;
}
input {
  padding: 10px 10px 10px 10px;
}
.display {
  margin-top: 10px;
  color: white;
  padding: 10px;
  background-color: rgba(1, 1, 1, 0.5);
}
